mixin img({ src, classes, alt, width, height })
	picture
		source(
			srcset=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + src + '.webp',
			type='image/webp'
		)
		img(
			src=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + src + '.png',
			class=classes,
			alt=alt,
			width=width,
			height=height
		)

mixin svg(icon, classes)
	svg(class=classes)
		use(
			xlink:href=process.env.APP_BUILD_IMAGES_DIRNAME + '/' + process.env.APP_SPRITE_FILENAME + '#' + icon
		)
